{# templates/bundles/TwigBundle/Exception/error404.html.twig #}
{% extends 'base.html.twig' %}
{% block title %}Page not found{% endblock %}
{% block body %}
    <style>

        div.error {
            height: 200px;
            line-height: 200px;
            text-align: center;
            font-size: 24px;
        }

    </style>
    <div class="error">
        <b>404</b> Page not found!
    </div>
{% endblock %}